<body class="background">
  <div class="structure">
    <!-- <p id="notice"><%= notice %></p> -->

    <h1><%= t('menus.title') %></h1>
    <p><%= t('menus.text_head') %></p>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Availability</th>
          <th>Price</th>
          <th>Show</th>
          <th>Edit</th>
          <th>Destroy</th>

          <th colspan="7"></th>
        </tr>
      </thead>

      <tbody>
        <% @menus.each do |menu| %>
          <tr>
            <td><%= menu.name %></td>
            <td class="description"><%= menu.description %></td>
            <td><%= menu.availability %></td>
            <td><%= menu.price %></td>
            <td class="press"><%= link_to 'Show', menu %></td>
            <td class="press"><%= link_to 'Edit', edit_menu_path(menu) %></td>
            <td class="press"><%= link_to 'Destroy', menu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Menu', new_menu_path %>

  </div>
</body>
