<body class="background">
  <div class="structure">
    <h1> <%=t('home.staff.title') %></h1>
    <p class="text_stlye"> <%=t('home.staff.text')%></p>
    <ul>
      <li><%= link_to "Add a product to the menu", "/menus/new" %></li>
      <li><%= link_to "List of products in the menu", "/menus" %></li>
      <li><%= link_to "List of orders in the menu", "/orders" %></li>
    </ul>
  </div>
</body>
