<body class="background">
  <div class="structure">
    <p id="notice"><%= notice %></p>

    <h1>Orders</h1>

    <table>
      <thead>
        <tr>
          <th>Customername</th>
          <th>Customernumber</th>
          <th>Address</th>
          <th>Totalprice</th>
          <th>Order list</th>
          <th>Show</th>
          <th>Edit</th>
          <th>Destroy</th>
          <th colspan="8"></th>
        </tr>
      </thead>

      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.customerName %></td>
            <td><%= order.customerNumber %></td>
            <td><%= order.address %></td>
            <td><%= order.totalPrice %></td>
            <td style="padding: 15px">
              <ol>
                <% order.line_items.each do |item| %>
                  <li><%= item.menu.name %></li>
                <% end %>
              </ol>
          </td>

            <td><%= link_to 'Show', order %></td>
            <td><%= link_to 'Edit', edit_order_path(order) %></td>
            <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>


        <% end %>
      </tbody>
    </table>

    <br>
  </div>
</body>
